@import "~bootstrap/dist/css/bootstrap.min.css";

h5 {
  text-transform: capitalize;
}

.login-form {
  max-width: 400px;
  margin: 100px auto;
}

#sidebarMenu {
  min-height: 100vh;
}

.card {
  overflow: hidden;
  position: relative;
}

.gradient-1 {
  background: linear-gradient(to right, #2196f3, #3f51b5);
}

.gradient-2 {
  background: linear-gradient(to right, #9c27b0, #673ab7);
}

.gradient-3 {
  background: linear-gradient(to right, #4caf50, #8bc34a);
}

.gradient-4 {
  background: linear-gradient(to right, #e91e63, #ff4081);
}

.gradient-5 {
  background: linear-gradient(to right, #ff9800, #ff5722);
}

.gradient-6 {
  background: linear-gradient(to right, #009688, #00bcd4);
}

.ribbon {
  position: absolute;
  top: 6%;
  left: -8%;
  background-color: red;
  color: white;
  padding: 5px 10px;
  transform: rotate(-45deg);
  z-index: 99;
  width: 135px;
  text-align: center;
}

/* .ribbon:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid red;
} */
